#info-text
{
	z-index: 0;
}

.to-do-list--header
{
	font-weight: bold;
	text-align: center;
	background: #eee;
}

.bg-instructions
{
	position: fixed;
	bottom: 20px;
	width: 100%;
	z-index: -1;
	font-size: 16px;
}

.bg-instructions--header
{
	font-size: 20px;
	margin-bottom: 10px;
}
.list-group-item.selected, .list-group-item.selected:focus, .list-group-item.selected:hover
{
	-webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.list-group-item{
	font-weight: 400;
}
.archived {
	display: none;
}
.show-archived>.archived {
	display: block;
	opacity: 0.5;
}

.status-pending
{
	background: white;
}
.status-developing
{
	background: #f0ad4e;
}
.status-done
{
	background: yellow;
}
.status-edit
{
	background: #5bc0de;
}
.status-approved
{
	background: #5cb85c;
}
.status-issue
{
	background: #d9534f;
}

.popover-title
{
	color: #636b6f;
}

textarea.form-control
{
	    height: 34px;
}
